In [1]:
import pandas as pd

In [8]:

dfs = {
    'disability_category': pd.read_excel('./../data/edu.iste.disabilityresourcesearchengine.xlsx', sheet_name='disability_category'),
    'service_category': pd.read_excel('./../data/edu.iste.disabilityresourcesearchengine.xlsx', sheet_name='service_category'),
    'states': pd.read_excel('./../data/edu.iste.disabilityresourcesearchengine.xlsx', sheet_name='states'),
    'zipcodes': pd.read_excel('./../data/edu.iste.disabilityresourcesearchengine.xlsx', sheet_name='zipcodes'),
    'ca.serviceproviders': pd.read_excel('./../data/gov.ca.serviceproviders.xlsx', sheet_name='dss_service_providers'),
}

In [3]:
""" EDA """
dfs['disability_category'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   disability_category  7 non-null      object
 1   definition           7 non-null      object
dtypes: object(2)
memory usage: 240.0+ bytes

In [4]:

dfs['service_category'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   category     7 non-null      object
 1   description  7 non-null      object
dtypes: object(2)
memory usage: 240.0+ bytes

In [5]:

dfs['states'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       51 non-null     object
 1   Abbrev      51 non-null     object
 2   Code        51 non-null     object
 3   Population  52 non-null     float64
dtypes: float64(1), object(3)
memory usage: 1.8+ KB

In [6]:

dfs['zipcodes'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Zipcode     500 non-null    float64
 1   City        500 non-null    object
 2   County      500 non-null    object
 3   Population  500 non-null    float64
dtypes: float64(2), object(2)
memory usage: 15.8+ KB

In [9]:
dfs['ca.serviceproviders'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1717 entries, 0 to 1716
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   County     1717 non-null   object
 1   Provider   1717 non-null   object
 2   Address    1717 non-null   object
 3   City       1717 non-null   object
 4   State      1717 non-null   object
 5   Zip        1717 non-null   object
 6   Phone      1717 non-null   object
 7   Website    1708 non-null   object
 8   Category   1717 non-null   object
 9   Type       1717 non-null   object
 10  Services   1717 non-null   object
 11  Latitude   1717 non-null   float64
 12  Longitude  1717 non-null   float64
 13  Location   1717 non-null   object
dtypes: float64(2), object(12)
memory usage: 187.9+ KB

In [10]:
dss_df = dfs['ca.serviceproviders']
dss_df.head()

,County,Provider,Address,City,State,Zip,Phone,Website,Category,Type,Services,Latitude,Longitude,Location
0,Alameda,Oakland Community Action Partnership,"150 Frank H. Ogawa Plaza 4th Floor, Suite 4340",Oakland,CA,94612.0,(510) 238-2362,www.AC-OCAP.comÂ,Community Services,Community Services,Child/Youth Services,37.80529,-122.271,"(37.805293900000002, -122.2711085)"
1,Alameda,Oakland Community Action Partnership,"150 Frank H. Ogawa Plaza 4th Floor, Suite 4340",Oakland,CA,94612.0,(510) 238-2362,www.AC-OCAP.comÂ,Community Services,Community Services,Education Services,37.80529,-122.271,"(37.805293900000002, -122.2711085)"
2,Alameda,Oakland Community Action Partnership,"150 Frank H. Ogawa Plaza 4th Floor, Suite 4340",Oakland,CA,94612.0,(510) 238-2362,www.AC-OCAP.comÂ,Community Services,Community Services,Emergency Services,37.80529,-122.271,"(37.805293900000002, -122.2711085)"
3,Alameda,Oakland Community Action Partnership,"150 Frank H. Ogawa Plaza 4th Floor, Suite 4340",Oakland,CA,94612.0,(510) 238-2362,www.AC-OCAP.comÂ,Community Services,Community Services,Employment Services,37.80529,-122.271,"(37.805293900000002, -122.2711085)"
4,Alameda,Oakland Community Action Partnership,"150 Frank H. Ogawa Plaza 4th Floor, Suite 4340",Oakland,CA,94612.0,(510) 238-2362,www.AC-OCAP.comÂ,Community Services,Community Services,Health Services,37.80529,-122.271,"(37.805293900000002, -122.2711085)"